.tableHeader {
    display: flex;
    align-items: stretch;
    font-weight: bold;
    gap: 15px;
    width: 100%;
}

.tableHeader>div {
    flex: 1;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.tableHeader>button {
    flex: 0 0 auto;
    margin-left: auto;
    align-self: center;
    background-color: #35426d;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 100px;
}

.tableHeader>button:hover {
    background-color: #2b3758;
}

.tableBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}